In [15]:
import pandas as pd

neural_df = pd.read_csv("rgb-v5_eval_results.csv")
scobot_df = pd.read_csv("scobots_eval_results.csv")
iscobot_df = pd.read_csv("iscobots_eval_results.csv")
skiing_df = pd.read_csv("skiscobots_eval_results.csv")


iscobot_df = iscobot_df.drop(iscobot_df[(iscobot_df.env == "Skiing" )].index)
iscobot_df[iscobot_df["env"] == "Skiing"].sort_values(by=["reward_mean"])
all_df = pd.concat([neural_df, scobot_df, iscobot_df, skiing_df])
all_df = pd.read_csv("rgb-v4_eval_results.csv")
all_df

,Unnamed: 0,env,variant,train_seed,eval_seed,episodes,reward_mean,reward_std,steps_mean,steps_std
0,0,Seaquest,rgbv4,16,123,5,1860.0,17.888544,2266.0,2.449490
1,1,Seaquest,rgbv4,16,789,5,1864.0,14.966630,2263.8,1.326650
2,2,Seaquest,rgbv4,16,1011,5,1868.0,16.000000,2266.6,1.019804
3,3,Seaquest,rgbv4,16,456,5,1872.0,16.000000,2266.4,2.244994
4,4,Seaquest,rgbv4,0,123,5,960.0,0.000000,2266.0,2.449490
...,...,...,...,...,...,...,...,...,...,...
103,103,Pong,rgbv4,16,1011,5,20.6,0.489898,1712.8,74.884978
104,104,Pong,rgbv4,0,123,5,21.0,0.000000,1864.2,104.371260
105,105,Pong,rgbv4,0,456,5,21.0,0.000000,1864.4,103.797110
106,106,Pong,rgbv4,0,789,5,21.0,0.000000,1861.8,102.641902
107,107,Pong,rgbv4,0,1011,5,21.0,0.000000,1822.8,83.607177

In [16]:
grouped = all_df.groupby(["env", "variant"])

agg_df = grouped["reward_mean"].agg(["mean", "std"])
agg_df

                          mean           std
env      variant
Asterix  rgbv4    10433.333333   2772.859808
Bowling  rgbv4       51.383333     18.026538
Boxing   rgbv4       99.466667      1.420201
Freeway  rgbv4       33.600000      0.330289
Kangaroo rgbv4    13296.666667   1111.095555
Pong     rgbv4       20.900000      0.159545
Seaquest rgbv4     1262.000000    446.091715
Skiing   rgbv4   -22983.333333  10333.287509
Tennis   rgbv4       -1.183333      0.301008

In [5]:
#agg_df.index = agg_df.index.set_levels(agg_df.index.levels[1].str.replace('rgbv5', 'neural'), level=1)
#agg_df.to_csv("agg_results.csv")